.cats{
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 70, 136);
    color: white;
    border: 10px solid white;
    border-radius: 100px;
}
.cats p{
    margin-left: 230px;
}